<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <title>Pizza Delivery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="../modules/PriceCalculator.js"></script>
</head>
<body class="container">
<header>
    <div class="tenavbar navbar-dark bg-light shadow-sm">
        <div class="text-center">
            <h1>Pizza Delivery</h1>
        </div>
    </div>
</header>

<form id="orderDetails">
    <fieldset class="border p-2">
        <legend class="w-auto">Order Details</legend>
        <h5>Crusty: </h5><p><%= request.body.crusty %></p>
        <h5>Toppings: </h5><p><%= request.body.favorite_topping %></p>
        <h5>Size: </h5><p><%= request.body.size %></p>
        <h5>Quantity: </h5><p><%= request.body.quantity %></p>
        <h5 class="text-primary">Price: </h5><h5><%= price %></h5>
    </fieldset>
    <br>
    <fieldset class="border p-2">
        <legend class="w-auto">Contact Details</legend>
        <h5>Name: </h5><p><%= request.user.name %></p>
        <h5>Phone: </h5><p><%= request.user.phone %></p>
        <h5>Address: </h5><p><%= request.user.address %></p>
    </fieldset>
    <br>
    <div class="form-group">
        <div class="text-center">
            <button  class="btn btn-danger" id="cancelOrder" type="submit" formmethod="get" formaction="/cancel">Cancel</button>
            <button  class="btn btn-success" id="finishOrder" type="submit" formmethod="post" formaction="/users/success" >Finish Order</button>
        </div>
    </div>
</form>
<footer>
    <p class="text-center text-muted">© Pizza Delivery</p>
</footer>
</body>
</html>
